export CONFIG_NAME := vexpress
export CONFIG_ABI := aapcs-linux
export CONFIG_CPU := cortex-a9
export CONFIG_FPU := vfpv3-d16
export CONFIG_FLOAT := hard
export CONFIG_MODE := arm
export CONFIG_LINUX_KERNEL_DEFCONFIG := vexpress
export CONFIG_LINUX_KERNEL_INTREE_DTS_NAME := vexpress-v2p-ca9
