export CONFIG_NAME := raspberrypi2
export CONFIG_ABI := aapcs-linux
export CONFIG_CPU := cortex-a7
export CONFIG_FPU := neon-vfpv4
export CONFIG_FLOAT := hard
export CONFIG_MODE := arm
export CONFIG_LINUX_KERNEL_DEFCONFIG := bcm2709
export CONFIG_LINUX_KERNEL_INTREE_DTS_NAME := bcm2709-rpi-2-b
